/*Header*/
.header {
    padding: 0.5px; /* some padding */
    text-align: center; /* center the text */
    background: #b43772; /* pink background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size:40px;
  }

/******************************************************************************************************/
  /* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 40px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  
    /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
  
/***********************************************************************************************************/

  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  
  /* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

div.image {
  width: 100%;
  height: 400px;
  background-image: url('img_flowers./images/img4.jpg');
  background-size: cover;
  border: 1px solid rgb(107, 108, 218);
}

div.products {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;

}

div.products:hover {
  border: 1px solid #777;
}

div.products img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.footer {
  background-color: #bd276d;
  padding: 0.5px;
  text-align: center;
}
